<h3>Bayesian Tests</h3>

<p>In this page you can see several bayesian tests that compare the performance of the different distance metric learning algorithms. The bayesian sign tests are tests between two algorithms that show a posterior probability that the first algorithm outperforms the second, that the second algorithm outperforms the first, or that both algorithms are equivalent (they are in the ROPE region). Simplex diagrams show the distribution of a sample over these pairs of algorithms. If samples are more weighted to one of the three regions, then the probability that the algorithm in that region outperforms the other (or that they are equivalent, in the case of the rope) is higher.

<h4>Bayesian pairwise sign tests for basic experiments with 3-NN classifier.</h4>

<table class="table table-striped table-hover table-bordered table-condensed table-responsive">
    <tbody>
        <tr>
            <td><img src="./results/bayesian/bayes-basic-3nn-1-1.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-1-2.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-1-3.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-1-4.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-1-5.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-1-6.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-1-7.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-1-8.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-1-9.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-1-10.png" width=250 height=250></td>
        </tr>

        <tr>
            <td><img src="./results/bayesian/bayes-basic-3nn-2-1.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-2-2.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-2-3.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-2-4.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-2-5.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-2-6.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-2-7.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-2-8.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-2-9.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-2-10.png" width=250 height=250></td>
        </tr>

        <tr>
            <td><img src="./results/bayesian/bayes-basic-3nn-3-1.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-3-2.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-3-3.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-3-4.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-3-5.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-3-6.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-3-7.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-3-8.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-3-9.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-3-10.png" width=250 height=250></td>
        </tr>

        <tr>
            <td><img src="./results/bayesian/bayes-basic-3nn-4-1.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-4-2.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-4-3.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-4-4.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-4-5.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-4-6.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-4-7.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-4-8.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-4-9.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-4-10.png" width=250 height=250></td>
        </tr>

        <tr>
            <td><img src="./results/bayesian/bayes-basic-3nn-5-1.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-5-2.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-5-3.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-5-4.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-5-5.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-5-6.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-5-7.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-5-8.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-5-9.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-5-10.png" width=250 height=250></td>
        </tr>

        <tr>
            <td><img src="./results/bayesian/bayes-basic-3nn-6-1.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-6-2.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-6-3.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-6-4.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-6-5.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-6-6.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-6-7.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-6-8.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-6-9.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-6-10.png" width=250 height=250></td>
        </tr>

        <tr>
            <td><img src="./results/bayesian/bayes-basic-3nn-7-1.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-7-2.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-7-3.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-7-4.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-7-5.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-7-6.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-7-7.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-7-8.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-7-9.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-7-10.png" width=250 height=250></td>
        </tr>

        <tr>
            <td><img src="./results/bayesian/bayes-basic-3nn-8-1.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-8-2.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-8-3.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-8-4.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-8-5.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-8-6.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-8-7.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-8-8.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-8-9.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-8-10.png" width=250 height=250></td>
        </tr>

        <tr>
            <td><img src="./results/bayesian/bayes-basic-3nn-9-1.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-9-2.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-9-3.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-9-4.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-9-5.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-9-6.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-9-7.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-9-8.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-9-9.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-9-10.png" width=250 height=250></td>
        </tr>

        <tr>
            <td><img src="./results/bayesian/bayes-basic-3nn-10-1.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-10-2.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-10-3.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-10-4.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-10-5.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-10-6.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-10-7.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-10-8.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-10-9.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-3nn-10-10.png" width=250 height=250></td>
        </tr>
    </tbody>
</table>





<h4>Bayesian pairwise sign tests for basic experiments with 5-NN classifier.</h4>

<table class="table table-striped table-hover table-bordered table-condensed table-responsive">
    <tbody>
        <tr>
            <td><img src="./results/bayesian/bayes-basic-5nn-1-1.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-1-2.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-1-3.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-1-4.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-1-5.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-1-6.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-1-7.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-1-8.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-1-9.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-1-10.png" width=250 height=250></td>
        </tr>

        <tr>
            <td><img src="./results/bayesian/bayes-basic-5nn-2-1.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-2-2.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-2-3.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-2-4.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-2-5.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-2-6.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-2-7.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-2-8.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-2-9.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-2-10.png" width=250 height=250></td>
        </tr>

        <tr>
            <td><img src="./results/bayesian/bayes-basic-5nn-3-1.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-3-2.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-3-3.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-3-4.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-3-5.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-3-6.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-3-7.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-3-8.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-3-9.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-3-10.png" width=250 height=250></td>
        </tr>

        <tr>
            <td><img src="./results/bayesian/bayes-basic-5nn-4-1.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-4-2.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-4-3.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-4-4.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-4-5.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-4-6.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-4-7.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-4-8.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-4-9.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-4-10.png" width=250 height=250></td>
        </tr>

        <tr>
            <td><img src="./results/bayesian/bayes-basic-5nn-5-1.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-5-2.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-5-3.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-5-4.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-5-5.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-5-6.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-5-7.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-5-8.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-5-9.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-5-10.png" width=250 height=250></td>
        </tr>

        <tr>
            <td><img src="./results/bayesian/bayes-basic-5nn-6-1.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-6-2.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-6-3.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-6-4.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-6-5.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-6-6.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-6-7.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-6-8.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-6-9.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-6-10.png" width=250 height=250></td>
        </tr>

        <tr>
            <td><img src="./results/bayesian/bayes-basic-5nn-7-1.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-7-2.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-7-3.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-7-4.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-7-5.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-7-6.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-7-7.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-7-8.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-7-9.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-7-10.png" width=250 height=250></td>
        </tr>

        <tr>
            <td><img src="./results/bayesian/bayes-basic-5nn-8-1.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-8-2.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-8-3.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-8-4.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-8-5.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-8-6.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-8-7.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-8-8.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-8-9.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-8-10.png" width=250 height=250></td>
        </tr>

        <tr>
            <td><img src="./results/bayesian/bayes-basic-5nn-9-1.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-9-2.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-9-3.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-9-4.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-9-5.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-9-6.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-9-7.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-9-8.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-9-9.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-9-10.png" width=250 height=250></td>
        </tr>

        <tr>
            <td><img src="./results/bayesian/bayes-basic-5nn-10-1.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-10-2.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-10-3.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-10-4.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-10-5.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-10-6.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-10-7.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-10-8.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-10-9.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-5nn-10-10.png" width=250 height=250></td>
        </tr>
    </tbody>
</table>






<h4>Bayesian pairwise sign tests for basic experiments with 7-NN classifier.</h4>

<table class="table table-striped table-hover table-bordered table-condensed table-responsive">
    <tbody>
        <tr>
            <td><img src="./results/bayesian/bayes-basic-7nn-1-1.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-1-2.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-1-3.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-1-4.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-1-5.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-1-6.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-1-7.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-1-8.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-1-9.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-1-10.png" width=250 height=250></td>
        </tr>

        <tr>
            <td><img src="./results/bayesian/bayes-basic-7nn-2-1.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-2-2.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-2-3.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-2-4.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-2-5.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-2-6.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-2-7.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-2-8.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-2-9.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-2-10.png" width=250 height=250></td>
        </tr>

        <tr>
            <td><img src="./results/bayesian/bayes-basic-7nn-3-1.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-3-2.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-3-3.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-3-4.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-3-5.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-3-6.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-3-7.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-3-8.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-3-9.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-3-10.png" width=250 height=250></td>
        </tr>

        <tr>
            <td><img src="./results/bayesian/bayes-basic-7nn-4-1.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-4-2.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-4-3.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-4-4.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-4-5.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-4-6.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-4-7.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-4-8.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-4-9.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-4-10.png" width=250 height=250></td>
        </tr>

        <tr>
            <td><img src="./results/bayesian/bayes-basic-7nn-5-1.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-5-2.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-5-3.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-5-4.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-5-5.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-5-6.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-5-7.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-5-8.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-5-9.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-5-10.png" width=250 height=250></td>
        </tr>

        <tr>
            <td><img src="./results/bayesian/bayes-basic-7nn-6-1.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-6-2.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-6-3.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-6-4.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-6-5.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-6-6.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-6-7.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-6-8.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-6-9.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-6-10.png" width=250 height=250></td>
        </tr>

        <tr>
            <td><img src="./results/bayesian/bayes-basic-7nn-7-1.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-7-2.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-7-3.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-7-4.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-7-5.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-7-6.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-7-7.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-7-8.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-7-9.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-7-10.png" width=250 height=250></td>
        </tr>

        <tr>
            <td><img src="./results/bayesian/bayes-basic-7nn-8-1.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-8-2.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-8-3.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-8-4.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-8-5.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-8-6.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-8-7.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-8-8.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-8-9.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-8-10.png" width=250 height=250></td>
        </tr>

        <tr>
            <td><img src="./results/bayesian/bayes-basic-7nn-9-1.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-9-2.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-9-3.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-9-4.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-9-5.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-9-6.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-9-7.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-9-8.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-9-9.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-9-10.png" width=250 height=250></td>
        </tr>

        <tr>
            <td><img src="./results/bayesian/bayes-basic-7nn-10-1.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-10-2.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-10-3.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-10-4.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-10-5.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-10-6.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-10-7.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-10-8.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-10-9.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-basic-7nn-10-10.png" width=250 height=250></td>
        </tr>
    </tbody>
</table>






<h4>Bayesian sign tests for centroid experiments</h4>
<p>(Euclidean distance vs centroid learning algorithm, with nearest centroid classifier for 1, 2 and 3 centroids, respectively)<p>

<table class="table table-striped table-hover table-bordered table-condensed table-responsive">
    <tbody>
        <tr>
            <td><img src="./results/bayesian/bayes-ncm-1.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-ncm-3.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-ncm-5.png" width=250 height=250></td>
        </tr>
        <tr>
            <td><img src="./results/bayesian/bayes-ncm-2.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-ncm-4.png" width=250 height=250></td>
            <td><img src="./results/bayesian/bayes-ncm-6.png" width=250 height=250></td>
        </tr>
    </tbody>
</table>