<h3>Comparison with other software libraries</h3>

<p>Here you can compare the performance of the algorithms in pyDML with the performances of other popular distance metric learning software libraries. Some of the algorithms shared among these libraries have been compared. Currently, the following libraries are being compared:</p>

<ul>
	<li><strong><a href="http://contrib.scikit-learn.org/metric-learn" target="_blank">metric-learn:</a></strong> Metric Learning in Python. A Python library with several supervised and weak-supervised metric learning algorithms.</li>
	<li><strong><a href="https://www.cs.cmu.edu/~liuy/distlearn.htm" target="_blank">DistLearn Kit:</a></strong> A Matlab toolkit for distance metric learning. A collection of several implementations of distance metric learning algorithms.</li>
</ul>