<h1>Welcome to pyDML Stats webpage</h1>

<p>In this webpage you can find several tables and graphics evaluating the performance of the algorithms in pyDML.</p>

<div class="row">
    <div class="col-sm-6">
        <h3>The experiments</h3>

        <p>We have developed the following 4 blocks of experiments:</p>
        <ul>
            <li><strong>Basic experiments.</strong> Evaluation of all the algorithms capable of learning at maximum dimension, with k-nearest neighbors classification.</li>
            <li><strong>Nearest centroid experiments.</strong> Evaluation of centroid-based distance learning algorithms with their corresponding centroid-based classifiers.</li>
            <li><strong>Kernel experiments.</strong> Evaluation of kernel-based algorithms, with k-nearest neighbors classification.</li>
            <li><strong>Dimensionality reduction experiments.</strong> Evaluation of dimensionality reduction algorithms, for different dimensions, with k-nearest neighbors classification.</li>
        </ul>
    </div>

    <div class="col-sm-6">
        <h3>Details</h3>
        <ul>
            <li><strong>Evaluation metrics.</strong> The classification scores of k-nearest neighbors classifiers (k-NN) and nearest class mean (NCM) or nearest class with k centroids (NCM (k ctrd)) have been used.</li>
            <li><strong>Validation scheme.</strong> 10-fold cross validation.</li>
            <li><strong>Normalization.</strong> Min-max normalization.</li>
            <li><strong>Datasets.</strong> Up to 34 standard classification datasets from KEEL.</li>
        </ul>
    </div>

</div>