<h3>Kernel Experiments.</h3>

<p>Here you can see the results of the kernel-based algorithms, using the 3-NN score as metric. The used kernels are:
    <ul>
        <li><strong>Linear:</strong> Linear kernel.</li>
        <li><strong>Poly-2:</strong> Polynomial kernel of degree 2.</li>
        <li><strong>Poly-3:</strong> Polynomial kernel of degree 3.</li>
        <li><strong>RBF:</strong> Gaussian kernel (radial basis function).</li>
        <li><strong>Laplacian:</strong> Laplacian kernel.</li>
    </ul>
    See the <a href="http://scikit-learn.org/stable/modules/metrics.html#metrics" target="_blank">Scikit-Learn kernel documentation</a> for more details.
</p>